##############################
# Sublime Text Project Stuff #
##############################
**/*.sublime*

###################################
# some C/C++ related undesirables #
###################################
**/*.o

##################
# Tex byproducts #
##################
**/*.aux
**/*.log

################################
# Image Files (to save memory) #
################################
**/*.jpeg
**/*.png

#######################
# stupid Brixcc files #
#######################
**/*.bak